.hero {
    background-color: #d3c3a2;
    background-image: url("../images/20220930_065019_v2.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    height: 50vh;
    padding: 1em;
    color: lightblue;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    grid-column: 1 / -1;
}

.hero>h1 {
    font-size: 64px;
    text-shadow: rgba(25, 12, 146, 0.432) 2px 5px;
}

.hero>p {
    font-size: 22px;
}

article {
    grid-column: 1 / -1;
    background-color: #1a79d1;
    color: lightblue;
}

.middle {
    border-bottom: 3px solid black;
    width: 60vw;
    text-align: center;
    margin: 1rem auto;
}

#selfie {
    width: 15em;
    height: 30em;
    background-image: url("../images/rn_image_picker_lib_temp_2964bb29-91aa-4cc8-8e98-38598c289bbe.jpg");
    background-size: cover;
}

.flexContainer {
    display: flex;
    justify-content: center;
}

.BioImage {
    flex-basis: 0vw;
}

.about, .CoverLetterContent, .CareerGoalContent {
    flex-basis: 40vw;
    margin: 1rem;
    font-size: 22px;
}

.screenmiddle {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cas {
    width: 50%;
}

#CoverLetter {
    background-color: darkblue;
    padding: 1rem;
    border-radius: 3px;
}

#workSamples {
    padding: 10rem 20rem;
    background-color: rgb(28, 40, 109);
}

.workSampleImages {
    width: 50%;
}

#capstone {
    background-color: rgb(0, 46, 0);
    height: 4750px;
}

#capstone h1, #capstone h2 {
    color: greenyellow
}

#toc ul a {
    color: tan;
    font-size: 20px;
}

.button {
    text-decoration: none;
    text-align: center;
    border: 4px solid darkviolet;
    padding: .5em;
    border-radius: 30px;
    background-image: linear-gradient(to top, orange 0%, rgb(77, 77, 216) 50%);
    color: bisque;
    box-shadow: 5px 5px 6px blue;
}

#horizontal {
    background-color:rgb(77, 77, 216);
    margin: 0;
    padding: 0;
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
}

#horizontal>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#horizontal li a{
    text-decoration: none;
    display: inline-block;
    color: turquoise;
    margin: 0;
    padding: .8rem 1rem;
}

#horizontal li a:hover:not(.current) {
    color: black;
    background: white;
    border-radius: 12px;
}
.current {
    background-color: blue;
    border-radius: 12px;
}

#resume {
    height: 150vh;
    background-color: rgb(29, 143, 158);
}

footer {
    background-color: #d3c3a2;
    padding: 2rem 1rem;
}

footer p a.button:hover {
    color: lightblue;
    border: 4px solid green;
}